<mat-toolbar color="primary">

  <span> Technogym Indoor Marathon</span>
  <span class="span-spacer"></span>

  <div class="buttons-nav-bar">
    <button  mat-raised-button class="button-home" aria-label="button-for-home" [routerLink]="'/home'" >
      <mat-icon>home</mat-icon>
      Home
    </button>

    <button  mat-raised-button class="button-records" aria-label="button-for-home" [routerLink]="'/marathon/records'">
      <mat-icon>assignment</mat-icon>
      Records
    </button>
  </div>

</mat-toolbar>
