<div class="card-quantity">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Marathon Winner</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <h1>First Name: {{participant.firstName}}</h1>
      <h1>Last Name: {{participant.lastName}}</h1>
      <h1>Record Time: {{participant.recordTime}}</h1>
      <h1>Center Name: {{center.name}}</h1>
      <img mat-card-image src= {{participant.photoUrl}} alt="Photo of a participant">

    </mat-card-content>
  </mat-card>
</div>
